{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<style>
    h1, p, li a {
      font-family: 'Open Sans', sans-serif;
    }
</style>
<head>
	<title>User Profile</title>
</head>
<body>
	<h1>User Profile</h1>
	
	<!-- Navigation menu -->
    <p>Note that not all buttons currently have functionality and are here as placeholders</p>
	<ul>
        <p>Username: {{ current_user.username }}</p>
		<p>Email: {{ current_user.email }}</p>
		<p>UserID: {{ current_user.id }}</p>
		<li><a href="/logoutconfirm">Logout</a></li>
		<li><a href="/delete">Delete Account</a></li>
		<li><a href="/order_history">Order History</a></li>
		<li><a href="/user_items">Items for Sale</a></li>
		<li><a href="/edit_account">Edit Account Details</a></li>
	</ul>
	
	
	<!-- Other sections (e.g. order history, items for sale) would go here -->
	
</body>
{% endblock %}
