{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>SneakerHeadz</h1>
<img src="https://via.placeholder.com/1500x500" alt="Ad 1">
{% for product in products %}
<h2><a href="{{ url_for('show_product', product_id=product.id) }}">{{ product.name }}</a></h2>
<p>{{ product.description }}</p>
<form action="{{ url_for('add_to_cart') }}" method="POST">
  <input type="hidden" name="product_id" value="{{ product.id }}">
  <label>Quantity:</label>
  <input type="number" name="quantity" min="1" value="1">
  <button type="submit">Add to Cart</button>
</form>
</li>
{% endfor %}
</ul>
{% endblock %}
