{% extends "base.html" %}

{% block title %}Listings{% endblock %}

{% block content %}

<head>
	<title>Shoe Listings</title>
</head>
<body>
	<h1>Shoe Listings</h1>
	
	<!-- Search bar -->
	<form method="get">
		<label for="searchInput">Search for Shoes:</label>
		<input type="text" id="searchInput" name="search" placeholder="Enter keywords">
		<input type="submit" value="Search">
	</form>
	
	<hr>
	
	<!-- Shoe listings section -->
	<div>
		<img src= "https://media.gq-magazine.co.uk/photos/643670065a5350ccaaa4cda8/master/w_1600%2Cc_limit/Jordan1.jpg" alt="Jordan 1 Chicago">
		<h2>Shoe 1</h2>
		<p>This is a description for shoe 1.</p>
		<p>$150</p>
		<a href="payment.html">Buy Now</a>
	</div>
	
	<div>
		<img src="https://via.placeholder.com/300x200" alt="Shoe 2">
		<h2>Shoe 2</h2>
		<p>This is a description for shoe 2.</p>
		<p>$225</p>
		<a href="payment.html">Buy Now</a>
	</div>
	
	<div>
		<img src="https://via.placeholder.com/300x200" alt="Shoe 3">
		<h2>Shoe 3</h2>
		<p>This is a description for shoe 3.</p>
		<p>$100</p>
		<a href="payment.html">Buy Now</a>
	</div>
</body>
{% endblock %}
