{% extends 'base.html' %}

{% block content %}
<style>
  h1, label {
    font-family: 'Open Sans', sans-serif;
  }
  #box {
    background-color: #878F80;
    color: white;
    padding: 50px;
    margin-top: 10px;
  }
</style>
  <h1>Payment Information</h1>
  <div id="box">
  <form method="POST" action="{{ url_for('process_payment') }}">
    <div class="form-group">
      <label for="card_name">Card Name:</label>
      <input type="text" class="form-control" name="card_name" id="card_name" size=22 required>
    </div>
    <div class="form-group">
      <label for="card_number">Card Number:</label>
      <input type="text" class="form-control" name="card_number" id="card_number" required>
    </div>
    <div class="form-group">
      <label for="expiration_date">Expiration Date:</label>
      <input type="text" class="form-control" name="expiration_date" id="expiration_date" size=4 placeholder="MM/YY" required>
    </div>
    <div class="form-group">
      <label for="cvc">CVC Code:</label>
      <input type="text" class="form-control" name="cvc" size=3 id="cvc" required>
    </div> <br>

    <div class="form-group">
      <label for="cvc">Shipping Information:</label>
      <input type="text" class="form-control" name="shipping_info" size="36" id="shipping_info" placeholder="Address Line" required>
      <input type="text" class="form-control" name="shipping_info" size="36" id="shipping_info" placeholder="City" required>
      <input type="text" class="form-control" name="shipping_info" size="36" id="shipping_info" placeholder="State" required>
      <input type="text" class="form-control" name="shipping_info" size="36" id="shipping_info" placeholder="Zipcode" required>
    </div>

     <br>
    <button type="submit" class="btn btn-primary">Submit Payment</button>
  </form>
</div>
{% endblock %}

