{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<style>
	h1, p, h2, li {
	  font-family: 'Open Sans', sans-serif;
	}
  </style>
<head>
	<title>Order Confirmation</title>
</head>
<body>
	<h1>Order Confirmation</h1>
	<p>Thank you! Your order has been confirmed.</p>
	<h2>Order Details</h2>
	<ul>
		<li>Shipping Information:</li>
		<ul>
			<li>Address: {{ address }}</li>
			<li>City: {{ city }}</li>
			<li>State: {{ state }}</li>
			<li>Zip Code: {{ zip_code }}</li>
		</ul>
		<li>Card Type: {{ card_type }}</li>
	</ul>
</body>

{% endblock %}