{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<style>
    h1, p, h3 {
      font-family: 'Open Sans', sans-serif;
    }
</style>
<head>
	<title>Edit Account Details</title>
</head>
<block>
	<h1 style="text-align: center;">Edit Account Details</h1>
	<p style="text-align: center;">Now Editing Account Details</p>
	<br>
	<form action="{{ url_for('success') }}" method="POST">
		<h3>Profile Information:</h3>
		<p>Name:</p>
		<input type="text" name="name">

		<p>Biography (A little bit about you):</p>
		<input type="text" name="biography">

		<p>Phone Number:</p>
		<input type="text" name="phone" placeholder="XXX-XXX-XXXX">

		<input type="submit" value="Submit">
	</form>
</block>
{% endblock %}

