{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<head>
	<title>Edit Account Details</title>
</head>
<block>	
	<h1 style="text-align: center;">Edit Account Detials</h1>
		<p style="text-align: center;">Now Editing Account Details</p>
		<br>
	<h3>Personal Information</h3>
		<p>Biography (A little bit about you):</p>
	<h3>Billing Information</h3>
		<p>Credit Card Number:</p>
		<p>CVV:</p>
		<p>Expiration Date:</p>
	<h3>Shipping Information</h3>
		<p>Address:</p>
		<p>Zip Code:</p>
		<p>City, State(ST):</p>
	<h3>Password and Security</h3>
		<p>Current Password:</p>
		<p>New Password:</p>
</block>
{% endblock %}
