{% extends 'base.html' %}

{% block content %}
<style>
  h1, label {
    font-family: 'Open Sans', sans-serif;
  }
  #box {
    background-color: #878F80;
    color: white;
    padding: 50px;
    margin-top: 10px;
  }
</style>
  <h1>Payment Information</h1>
  <div id="box">
  <form method="POST" action="{{ url_for('order_overview') }}">
    <div class="form-group">
      <label for="card_name">Card Name:</label>
      <input type="text" class="form-control" name="card_name" id="card_name" size=22 required>
    </div>
    <div class="form-group">
      <label for="card_number">Card Number:</label>
      <input type="text" class="form-control" name="card_number" id="card_number" required>
    </div>
    <div class="form-group">
      <label for="expiration_date">Expiration Date:</label>
      <input type="text" class="form-control" name="expiration_date" id="expiration_date" size=4 placeholder="MM/YY" required>
    </div>
    <div class="form-group">
      <label for="cvc">CVC Code:</label>
      <input type="text" class="form-control" name="cvc" size=3 id="cvc" required>
    </div> <br>

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" class="form-control" name="address" size="36" id="address" placeholder="Address Line" required>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" name="city" size="36" id="city" placeholder="City" required>
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" name="state" size="36" id="state" placeholder="State" required>
    </div>
    <div class="form-group">
      <label for="zip_code">Zipcode:</label>
      <input type="text" class="form-control" name="zip_code" size="36" id="zip_code" placeholder="Zipcode" required>
    </div>
    
     <br>
    <button type="submit" class="btn btn-primary">Submit Payment</button>    
  </form>
</div>
{% endblock %}